<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>NodeJS Web Server - {{pageTitle}}</title>
</head>
<body style="font-family: tahoma, sans-serif;">

  <h1>Page: {{pageTitle}}</h1>
  <hr>

  <a href="/">Home</a> | <a href="/about">About</a>
